<section>
    <div class="container mt-5" >
        
              <div class="addproduct text-end">
                 <a href="/admin/addproduct"class="btn btn-success  ">Add Products</a>
              </div>
           

       



        <table class="table mt-4">
  <thead class="thead-dark">
    <tr>
      <th scope="col">No</th>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
       <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        {{#each data}}
      <th scope="row"> {{@index}}</th>
      <td>{{Name}}</td>
      <td>{{Category}}</td>
      <td>{{ Description}}</td>
      <td> <img style="width:50px ; height:60px;object-fit: contain;" src="./dbimages/{{_id}}.jpg"></td>
    </tr>
    {{/each}}
   
  </tbody>
</table>

 


    </div>
</section>